@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --secondary-two: rgba(150, 150, 150, 0.202);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --dark-blue-gradient: linear-gradient(97.05deg, #1f3e72 3.76%, #30528d 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
  --secondary-text-color: #8c8b8b;
  --orange-color: orange;
  --greyish-bg: #fafafa;
  --my-text-gradient: linear-gradient(
    to right,
    rgb(255, 185, 120),
    rgb(255, 146, 45)
  );
  --my-text-gradient-two: linear-gradient(
    to right,
    rgb(255, 197, 144),
    rgb(255, 226, 199)
  );
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden !important;
}
body::-webkit-scrollbar {
  width: 0.6rem;
  background: #fefefe;
}
body::-webkit-scrollbar-thumb {
  background: rgb(144, 144, 144);
  border-radius: 10rem;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
}
header {
  position: relative;
  background: var(--black);
  color: var(--greyish-bg);
  padding-bottom: 4rem;
}
.header_background_box {
  position: absolute;
  top: 70px;
  left: 60px;
  height: 240px;
  width: 240px;
  background: rgba(254, 254, 254, 0.905);
  border-radius: 50%;
  filter: blur(80px);
  pointer-events: none;
}
nav {
  padding: 1.8rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  transition: 0.4s ease-in-out;
  z-index: 9999;
}
.nav_logo {
  width: 90px;
}
.nav_links {
  display: flex;
  align-items: center;
}
.nav_link {
  padding: 0 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  transition: 0.3s ease-in-out;
}
.nav_link:hover {
  opacity: 0.8;
}
.nav_link.login_btn {
  background: var(--blue-gradient);
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
  margin-left: 3.5rem;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 0.8rem;
  cursor: pointer;
}
.burger {
  background: var(--lightBlue);
  border-radius: 0.8rem;
}
.burger_one {
  width: 30px;
  height: 2px;
}
.burger_two {
  width: 25px;
  height: 2px;
  margin-left: auto;
}
.burger_three {
  height: 2px;
  width: 15px;
  margin-left: auto;
}
/*  */
/* main section */
/*  */
.main_section {
  width: 90%;
  margin: 0 auto;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10rem;
}
.main_section_col_1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5rem;
}
.main_section_h1 {
  position: relative;
  z-index: 2;
  font-size: 5.5rem;
  font-weight: 600;
  user-select: none;
}
.title_right_cirle {
  position: absolute;
  top: -1.1%;
  right: 26%;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: var(--orange-gradient);
  z-index: 1;
  pointer-events: none;
  user-select: none;
}
.main_section_p {
  color: var(--secondary-text-color);
  font-size: 1.6rem;
}
.main_section_p::selection {
  background: var(--orange-color);
  color: var(--lightBlue);
}
.main_section_form {
  background: var(--lightBlue);
  padding: 0.3rem 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 0.5rem;
}
.main_section_form i {
  color: var(--blue);
  font-size: 2rem;
}
.main_section_form input,
.main_section_form input:active {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 2rem 4rem;
  background: var(--lightBlue);
}
.main_section_form button,
.main_section_form button:hover,
.main_section_form button:active {
  background: var(--blue-gradient);
  border: 0;
  outline: 0;
  color: var(--lightBlue);
  padding: 1.5rem 2rem;
  cursor: pointer;
  border-radius: 0.8rem;
}
.main_section_col_1_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.main_section_property_sold,
.main_section_happy_customer,
.main_section_awards_won {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
.main_secion_icons {
  color: var(--orange-color);
  font-size: 3.2rem;
}
.main_section_footer_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
.main_section_h4 {
  font-size: 1.8rem;
  font-weight: 400;
}
.main_section_footer_row i {
  color: var(--orange-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_section_footer_p {
  color: var(--secondary-text-color);
}
/*  */
.main_section_col_2 {
  width: 450px;
  border-radius: 50% 50% 0 0;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 0 7px rgba(140, 139, 139, 0.275);
}
.main_Section_img {
  object-fit: cover;
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
.main_section_col_2:hover .main_Section_img {
  transform: scale(1.25);
}
/*  */
/* logos section */
/*  */
.logo_rows {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 5rem 0;
}
.logo_section_logos {
  width: 150px;
}

/*  */
/* about section */
/*  */
.about_section {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 15rem;
}
.about_section_header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  margin-bottom: 7rem;
}
.about_section_h2 {
  font-size: 3.2rem;
  color: var(--primary);
}
.about_section_p1 {
  color: var(--secondary-text-color);
  font-size: 1.7rem;
}
.about_section_row {
  display: grid;
  grid-template-columns: 1.7fr 1.9fr;
  align-items: center;
  justify-items: center;
  gap: 3rem;
}
.about_section_col_2_header {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-bottom: 2rem;
}
.about_section_col_2_h3 {
  color: var(--primary);
  font-size: 2.4rem;
  font-weight: 500;
}
.about_section_col_2_h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--primary);
}
.about_section_col_2_p {
  font-size: 1.4rem;
  color: var(--secondary-text-color);
  margin-bottom: 2rem;
}
.about_section_col_2_row {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.about_section_col_2_col_1_header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.about_section_col_2_col_1_header i {
  color: var(--orange-color);
  font-size: 4.5rem;
}
.about_section_col_2_col_1_header h1 {
  color: var(--primary);
  font-size: 1.9rem;
  font-weight: 600;
}
.about_section_col_2_col_1_p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 1.4rem;
}
/*  */
/* Residence section */
/*  */
.residence_section {
  width: 90%;
  margin: 0 auto;
}
.residence_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 5rem;
}
.residence_header_h2 {
  color: var(--orange-color);
  font-weight: 500;
  font-size: 2.8rem;
}
.residence_header_h1 {
  font-size: 3.4rem;
  color: var(--primary);
  font-weight: 600;
}
.residence_row {
  margin: 0 auto;
}
.residence_card {
  cursor: pointer;
  transition: 0.35s ease-in-out;
}
.residence_card:hover {
  background: var(--lightBlue);
}
.residence_card_img {
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.residence_card_context {
  padding: 0.8rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.residence_card_h4 span:first-child {
  color: var(--orange-color);
  font-size: 2rem;
  margin-right: 0.5rem;
  font-weight: 500;
}
.residence_card_h4 span:nth-child(2) {
  color: var(--secondary-text-color);
  font-size: 2rem;
  margin-right: 0.5rem;
  font-weight: 500;
}
.residence_card_h3 {
  color: var(--primary);
  font-size: 2.2rem;
  font-weight: 600;
}
.residence_card_p {
  color: var(--secondary-text-color);
  font-size: 1.4rem;
}
.slick-slide {
  padding: 0 14px;
}
.slick-dots {
  bottom: -15%;
}
.slick-dots li button {
  position: relative;
  background-color: var(--lightBlue);
  box-shadow: 0 0 0 3px var(--orange-color);
  border-radius: 50%;
}
.slick-dots li button:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background: var(--orange-color);
  transform: translate(-50%, -50%);
}
/*  */
.slider_btn {
  background: var(--orange-color);
  height: 26px;
  width: 26px;
  font-size: 1.8rem;
  border-radius: 50%;
  color: var(--lightBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 20;
  right: 8%;
  top: -12%;
  cursor: pointer;
}
.slider_btn.left {
  right: 18%;
}
/*  */
/* Values section */
/*  */
.values_section {
  width: 90%;
  margin: 0 auto;
  margin-top: 18rem !important;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-items: center;
  align-items: center;
  gap: 6rem;
}
.values_section_col_1 {
  overflow: hidden;
  border-radius: 45% 45% 0 0;
  width: 480px;
}
.values_section_col_1_img {
  transform: scale(1.1);
  transition: 0.35s ease-in-out;
}
.values_section_col_1:hover .values_section_col_1_img {
  transform: scale(1.2);
}

/*  */
.values_section_col_2 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.values_section_col_2_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.values_section_col_2_header h4 {
  color: var(--orange-color);
  font-size: 2.8rem;
  font-weight: 500;
}
.values_section_col_2_header h2 {
  font-size: 3.8rem;
  font-weight: 700;
  color: var(--primary);
}
.values_section_col_2_header p {
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: 300;
}
/* value section drop down */
.value_section_drop_downs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.value_section_drop_down {
  padding: 1rem;
  box-shadow: 0 0 0 1.4px var(--secondary-two);
}
.value_section_drop_down_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem 1.4rem;
  cursor: pointer;
}
.value_section_drop_down_header i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  font-size: 1.8rem;
  color: var(--primary);
  background: var(--lightBlue);
  padding: 2.4rem;
  border-radius: 0.8rem;
}
.fa-chevron-down {
  border-radius: 50% !important;
}
.value_section_drop_down_header h4 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary);
}

.value_section_drop_down_body {
  display: grid;
  grid-template-rows: 0;
  overflow: hidden;
  transition: grid-template-rows 0.4s ease-in-out;
}
.value_section_drop_down_body p {
  color: var(--secondary-text-color);
  font-weight: 300;
}
.value_chevron {
  transition: 0.4s ease-in-out;
}
.value_section_drop_down.toggle_value_chevon .value_chevron {
  transform: rotate(180deg);
}

.value_section_drop_down.toggle_drop_down .value_section_drop_down_body {
  grid-template-rows: 85px;
  overflow: auto;
  transition: grid-template-rows 400ms;
}

.toggle_drop_down.value_section_drop_down {
  box-shadow: 0 5px 12px rgba(64, 102, 255, 0.2) !important;
}
/*  */
/* CTA SECTION */
/*  */
.cta_section {
  margin-top: 18rem;
  padding: 10rem 0;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.78),
      rgba(0, 0, 0, 0.78)
    ),
    url("../images/modern-residential.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--lightBlue);
}
.cta_section_content_wrapper {
  padding-left: 5rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cta_section_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta_section_header_row {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cta_secion_vertical_line {
  height: 50px;
  width: 5px;
  background: var(--orange-color);
}
.cta_section_header_row h2 span {
  font-size: 3rem;
  font-weight: 800;
  background: var(--my-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cta_section_header_row h2 i {
  font-size: 1.2rem;
  color: var(--orange-color);
  margin-left: 1rem;
}
.cta_secion_header_paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  background: var(--my-text-gradient-two);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*  */
/*  */
.cta_section_rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.cta_section_col {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.cta_section_col i {
  background: var(--lightBlue);
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  color: var(--blue);
  padding: 3rem;
  border-radius: 50%;
}
.cta_section_col_context {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta_section_col_context h4 {
  font-size: 2rem;
  font-weight: 500;
}
.cta_section_col_context p {
  font-weight: 400;
  letter-spacing: 1.2px;
  color: var(--secondary);
}
/*  */
/* contact section */
/*  */
.contact_section {
  width: 90%;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8rem;
}
.contact_section_col_1 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact_secion_col_1_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contact_secion_col_1_header h5 {
  background: var(--orange-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 2.4rem;
  font-weight: 600;
}
.contact_secion_col_1_header h3 {
  background: var(--dark-blue-gradient);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 3.4rem;
  font-weight: 800;
}
.contact_secion_col_1_header p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 1.6rem;
}
/*  */
.contact_section_col_1_rows {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.contact_section_col_1_col {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.4rem 2rem;
  box-shadow: 0 0 0 1.3px var(--secondary-two);
  border-radius: 1rem;
  transition: 0.35s ease-in-out;
}
.contact_section_col_1_col:hover {
  transform: scale(1.12);
  box-shadow: 0 8px 12px rgba(64, 102, 255, 0.16);
}
.contact_section_col_1_col_header {
  display: flex;
  gap: 2rem;
}
.contact_section_col_1_col_header i {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue);
  font-size: 2.4rem;
  padding: 2rem;
  background: var(--lightBlue);
  border-radius: 0.5rem;
}
.contact_section_col_1_col_header div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.contact_section_col_1_col_header div h6 {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--primary);
}
.contact_section_col_1_col_header div p {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--secondary-text-color);
}
.contact_btn {
  text-align: center;
  background: var(--lightBlue);
  color: var(--blue);
  padding: 1.5rem 2rem;
  font-weight: 500;
  letter-spacing: 0.12rem;
  transition: 0.35s ease-in-out;
  border-radius: 1rem;
}
.contact_btn:hover {
  background: var(--blue);
  color: var(--lightBlue);
  transform: scale(0.7);
}
/*  */
.contact_section_col_2 {
  width: 38rem;
  height: 50rem;
  overflow: hidden;
  border-radius: 45% 45% 0 0;
  box-shadow: 0 0 0 8px #c7d2ff;
  margin-left: auto;
}
.contact_section_col_2_img {
  /* transform: scale(1.4); */
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transition: 0.35s ease-in-out;
}
.contact_section_col_2:hover .contact_section_col_2_img {
  transform: scale(1.5);
}
/*  */
/* gta section */
/*  */
.gta_section {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
  background: var(--blue-gradient);
  border-radius: 1.5rem;
  padding: 4rem 2rem;
}
.gta_section_context {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: var(--lightBlue);
}
.gta_h2 {
  font-weight: 500;
  font-size: 3.4rem;
}
.gta_p {
  font-weight: 400;
  font-size: 1.6rem;
}
.gta_btn {
  align-self: center;
  border: 0;
  background: transparent;
  padding: 1.4rem 2.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 0 1.3px var(--lightBlue);
  cursor: pointer;
  color: var(--lightBlue);
  transition: 0.5s ease-in-out;
}
.gta_btn:hover {
  transform: scale(1.14) !important;
}
/*  */
/* testimonial section */
/*  */
.testimonial_section {
  width: 90%;
  margin: 0 auto;
  margin-top: 15rem;
}
.testimonial_section_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-bottom: 4rem;
}
.testimonial_section_header h2 {
  color: var(--primary);
  font-size: 2.4rem;
  font-weight: 600;
}
.testimonial_section_header p {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.6rem;
}
/*  */
.testimonial_row .slick-dots {
  bottom: -30%;
}
.testimonial_paragraph {
  position: relative;
  box-shadow: 0 6px 12px rgba(64, 102, 255, 0.2);
  letter-spacing: 1.1px;
  padding: 1.4rem 2rem;
  margin-bottom: 2rem;
  background: #fff;
}
.testimonial_inner_row {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.testimonial_inner_row div p {
  color: var(--secondary-text-color);
}
.testimonial_inner_row img {
  width: 45px;
}
.testimonial_flip_box {
  position: absolute;
  bottom: -5%;
  left: 6%;
  z-index: 45;
  height: 22px;
  width: 22px;
  transform: rotate(45deg);
  background: #fff;
}
/*  */
/* footer section */
/*  */
.footer_section {
  margin-top: 25rem;
  background: var(--black);
  padding: 8rem 0;
  color: var(--lightBlue);
}
.footer_wrapper {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3.5rem;
}
.footer_col_1 p {
  color: var(--secondary-text-color);
}
.footer_section_logo {
  width: 150px;
}
.footer_col_2 p {
  color: var(--secondary-text-color);
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.footer_form {
  width: 100%;
  background: var(--lightBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
}
.footer_form input {
  border: 0;
  outline: 0;
  background: transparent;
  width: 100%;
  padding: 1.4rem 0 1.4rem 1.5rem;
}
.footer_btn {
  padding: 1.4rem 2rem;
  background: var(--blue-gradient);
  color: var(--lightBlue);
  border: 0;
}
.footer_col_3 {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
}
.footer_col_3 i {
  color: var(--primary);
  font-size: 4rem;
}
.footer_col_3 p {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 1.7rem;
}
.footer_links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer_links a {
  color: var(--secondary-text-color);
  text-decoration: underline;
}
/*  */
/* MEDIA QUERIES */
/*  */
@media screen and (max-width: 997px) {
  .main_section_h1 {
    font-size: 4.5rem;
  }
  .main_section_col_2 {
    /* width: 380px; */
    height: 50rem;
    width: 100%;
  }
  .main_Section_img {
    width: 100%;
    height: 50rem;
  }
  /*  */
  .values_section_col_1 {
    width: 380px;
  }
  /*  */
  .contact_section_col_2 {
    width: 30rem;
  }
  .contact_section_col_1_rows {
    column-gap: 1rem;
  }
  .cta_section_content_wrapper {
    width: 80%;
  }
}
@media screen and (max-width: 968px) {
  .about_section_row {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 886px) {
  .main_section {
    grid-template-columns: 1fr;
  }
  .about_section_h2 {
    font-size: 2.6rem;
  }
  .about_section_p1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .footer_links {
    flex-wrap: wrap;
  }
  .contact_section {
    grid-template-columns: 1fr;
  }
  .contact_secion_col_1_header {
    text-align: center;
  }
  .contact_section_col_2 {
    margin: 0 auto;
    width: 70%;
  }
  .value_section_drop_down_header h4 {
    font-size: 1.4rem;
  }
  .values_section_col_1 {
    width: 290px;
    height: 90vh;
  }
  .values_section_col_1_img {
    height: 90vh;
  }
  .main_section_col_1 {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 808px) {
  .cta_section_content_wrapper {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
  }
  .cta_section_rows {
    grid-template-columns: 1fr;
  }
  .title_right_cirle {
    right: 6%;
  }
}
@media screen and (max-width: 794px) {
  .footer_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer_col_3 {
    align-items: start;
    grid-column: 1 / span 2;
  }
  .footer_links {
    flex-wrap: nowrap;
  }
  .about_section_col_2_h3 {
    font-size: 1.8rem;
  }
  .about_section_col_2_h1 {
    font-size: 2.2rem;
  }
  .about_section_col_2_p {
    font-size: 1.2rem;
  }
  .about_section_col_2_col_1_header h1 {
    font-size: 1.5rem;
  }
  .about_section_col_2_col_1_header i {
    font-size: 3rem;
  }
  .about_section_col_2_col_1_p {
    font-size: 1.2rem;
  }
  .residence_header_h2 {
    font-size: 1.9rem;
  }
  .residence_header_h1 {
    font-size: 2.8rem;
  }
  .residence_card_h3 {
    font-size: 1.8rem;
  }
  .residence_card_h4 span:first-child {
    font-size: 1.8rem;
  }
  .residence_card_h3 {
    font-size: 1.8rem;
  }
  .residence_card_p {
    font-size: 1.2rem;
  }
  .residence_header {
    margin-bottom: 8rem;
  }
  .values_section_col_2_header h4 {
    font-size: 1.9rem;
  }
  .values_section_col_2_header h2 {
    font-size: 2.8rem;
  }
  .value_section_drop_down_header h4 {
    font-size: 1.4rem;
  }
  .value_section_drop_down_header h4 {
    font-size: 1.3rem;
  }
  .value_section_drop_down_body p {
    font-size: 1.2rem;
  }
  .cta_secion_header_paragraph {
    font-size: 1.4rem;
  }
  .contact_secion_col_1_header h5 {
    font-size: 1.9rem;
  }
  .contact_secion_col_1_header h3 {
    font-size: 2.6rem;
  }
  .contact_secion_col_1_header p {
    font-size: 1.2rem;
  }
  .gta_h2 {
    font-size: 2.2rem;
  }
  .gta_paragraph {
    font-size: 1.25rem;
  }
  .testimonial_paragraph {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .main_section_col_2,
  .main_Section_img {
    height: 100%;
  }
  .values_section {
    grid-template-columns: 1fr;
  }
  .values_section_col_1 {
    width: 38rem;
  }

  .hamburger {
    display: flex;
  }
  .nav_links {
    position: fixed;
    flex-direction: column;
    gap: 2rem;
    top: 80px;
    right: -1000px;
    background: var(--lightBlue);
    color: var(--black);
    z-index: 999 !important;
    padding: 4rem 2rem;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
    box-shadow: 0 4px 14px rgba(73, 143, 255, 0.375);
    backdrop-filter: blur(12px);
  }
  .nav_link.login_btn {
    margin-left: 0;
    color: var(--lightBlue);
  }
  .slider_btn.left {
    right: 25%;
  }
  .values_section_col_1 {
    width: 60%;
    margin: 0 auto;
  }
  .values_section_col_1_img,
  .values_section_col_1 {
    height: 100%;
  }
  .contact_section_col_1_rows {
    width: 95%;
    margin: 0 auto;
  }
  .contact_section_col_1_col:hover {
    transform: scale(1.03);
  }
}
/*  */
/* Nav Toggle */
.toggle_nav.nav_links {
  right: 25px;
}
.toggle_nav.burger {
  margin: 0;
}
/*  */

@media screen and (max-width: 678px) {
  .about_section_col_2_row {
    flex-wrap: wrap;
  }
  .main_section_col_2 {
    width: 100%;
  }
  .main_section_h1 {
    font-size: 2.8rem;
  }
  .cta_section_content_wrapper {
    width: 90%;
  }
  .cta_section_col_context h4 {
    font-size: 1.5rem;
  }
  .cta_section_col_context p {
    font-size: 1.3rem;
  }
  .cta_section_col i {
    padding: 2rem;
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .contact_section_col_1_rows {
    grid-template-columns: 1fr;
  }
  .main_section_col_1_footer {
    flex-wrap: wrap;
  }
  .footer_wrapper {
    grid-template-columns: 1fr;
  }
  .footer_col_3 {
    grid-column: 1/1;
  }
  .contact_section_col_2 {
    width: 100%;
  }
  .values_section_col_1 {
    width: 100%;
  }
  .footer_links {
    flex-wrap: wrap;
  }
}

/* bac to top */
#myBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  height: 35px;
  width: 35px;
  border: 0;
  outline: 0;
  background-color: var(--blue);
  color: var(--lightBlue);
  cursor: pointer;
  padding: 1.4rem;
  border-radius: 10px;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.5s ease-in-out;
  user-select: none;
}
.show_to_top#myBtn {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  transform: translate(0, -20px) scale(1.12);
}
